<div class="container">
  <h2>Hey, <%= current_user.first_name %></h2>
  <p>Talk to friends and arrange sessions with trainers</p>
  <div class="message">
    <% @chats.each do |c| %>
      <div class="message-name">
        <% if c.user1 == current_user.id %>
          <%= link_to c.user1.first_name, user_chat_messages_path(current_user, c) %>
        <% else %>
          <%= link_to c.user2.first_name, user_chat_messages_path(current_user, c) %>
        <% end %>
      </div>
      <div class="message-body">
        <%= c.messages.last.content %>
      </div>
    <% end %>
  </div>
  ||
  <%= link_to "New chat", new_user_chat_path %>
  ||
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
</div>
